<template name="search">
  <div class="template-home">
    <div class="page-header appear-first">
      <h1 >buscar <strong>cliente</strong> </h1>
    </div>
    {{> actodeSearcher}}
  </div>
</template>
<!-- SEARCHBAR -->
<template name="actodeSearcher">
  <div class="input-group input-group-lg appear-second" >
    {{#EasySearch.IfInputEmpty index=index }}

    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
    {{else}}
      {{#if resultsCount}}
        {{#if oneFound}}
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-thumbs-up"></i></span>
        {{else}}
        <span class="input-group-addon" id="sizing-addon1">{{resultsCount}} <i class="fa fa-user"></i></span>
        {{/if}}
      {{/if}}
    {{/EasySearch.IfInputEmpty}}
    {{#EasySearch.IfSearching index=index }}
      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-cog spinning"></i></span>
    {{/EasySearch.IfSearching }}
    {{#EasySearch.IfNoResults index=index}}
      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-remove"></i></span>
    {{/EasySearch.IfNoResults}}
  {{> EasySearch.Input index=index attributes=inputAttributes }}
  </div>
  <ul class="list-group appear-third">
    {{#EasySearch.Each index=index }}
      {{#if oneFound}}
        {{> actode}}
      {{else}}
        {{> actodeListItem}}
      {{/if}}
    {{/EasySearch.Each}}
  </ul>
  {{#EasySearch.IfNoResults index=index }}
    <div class="padded no-results">Sin resultados</div>
  {{/EasySearch.IfNoResults }}
</template>


<template name="actode"> <!-- FAST VIEW, NOT PROFILE, USER HAS TO CLICK ON THE NAME TO GO TO PROFILE PAGE -->

<div class='appear-first'>
  {{> genderHeaderClickable}}
  <!--<a href="/profiles/{{_id}}"><button type='button' class="btn btn-default"><i class="fa fa-pencil"></i></button></a>-->
</div>
<br />
<div class='appear-second'>
  {{> birthday}}
</div>
  <br />
  <div class='appear-third'>
      <p> <i class="fa fa-check"></i> Cliente {{customerSince createdAt}} </p>
  </div>
</template>

<template name="actodeListItem">
  
    <li data-action="actode-item" class="list-group-item {{selected}}" value="{{_id}}">
      {{> genderHeaderClickable}}
      <!--<span class="appear-first result-man">{{name}}</span>
      <span class="appear-second result-man">{{lastName}}</span>
      <a href="/profiles/{{_id}}"><button type='button'><i class="fa fa-user"></i></button></a>-->
    </li>


      <!--<span class="appear-first result-woman">{{name}}</span>
      <span class="appear-second result-woman">{{lastName}}</span>
      <a href="/profiles/{{_id}}"><button type='button'><i class="fa fa-user"></i></button></a>-->

  {{#if isSelected}}
  <div class="btn-group-sm modify-record" role="group" aria-label="...">
    <button type="button" class="btn btn-default appear-first" data-action="editSelectedActode"><i class="fa fa-pencil "></i></button>
    <button type="button" class="btn btn-default appear-second" data-action="deleteSelectedActode"><i class="fa fa-trash "></i></button>
  </div>
  {{/if}}


</template>
