<template name="editActode">



<!-- legacy

<form role="form" data-action="updateActodeSubmission">
  <div class="input-group input-group-lg">
    <span class="input-group-addon">documento</span>
    <input type="text" class="form-control" id="cid" value="{{cid}}" aria-describedby="sizing-addon1">
  </div>
  <div class="input-group input-group-lg">
<span class="input-group-addon">tipo</span>
<input type="text" class="form-control" id="cidType" placeholder="{{cidType}}" aria-describedby="sizing-addon1">
  </div>
  <div class="input-group input-group-lg">
<span class="input-group-addon">nombre</span>
<input type="text" class="form-control" id="name" placeholder="{{name}}">
  </div>
  <div class="input-group input-group-lg">
<span class="input-group-addon">apellido</span>
<input type="text" class="form-control" id="lastName" placeholder="{{lastName}}">
  </div>
  <div class="input-group input-group-lg">
    <input class="form-control" type="radio"   id="gender" name="gender"  value="M" checked> hombre
    <br>
    <input class="form-control" type="radio"   id="gender" name="gender" value="F" checked> mujer


  </div>
  <div class="input-group input-group-lg">
<span class="input-group-addon">email</span>  <input type="email" class="form-control" id="email" placeholder="{{email}}">
  </div>
  <div class="input-group input-group-lg">
<span class="input-group-addon">celular</span>  <input type="text" class="form-control" id="mobile" placeholder="{{mobile}}">
  </div>


  <div class="input-group input-group-lg">
<span class="input-group-addon">cumplea&ntilde;os</span>

    <input type="text" class="form-control" id="bdate" placeholder="{{bdate}}">
  </div>




  <button type="submit" class="btn btn-default">ok</button>
</form>

-->




</template>
