<template name="adminUsers">
  <h1>Administracion de Usuarios</h1>
  {{#if userCan "testla"}}
  <div class="template-home">
    <div class="page-header appear-first">
      <h1 >buscar <strong>usuario</strong> </h1>
    </div>
    {{> userSearcher}}
  </div>
{{else}}
{{> accessDenied}}

{{/if}}
</template>
<!-- SEARCHBAR -->
<template name="userSearcher">
  <div class="input-group input-group-lg appear-second" >
    {{#EasySearch.IfInputEmpty index=usersIndex }}

    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
    {{else}}
      {{#if resultsCount}}
        {{#if oneFound}}
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-thumbs-up"></i></span>
        {{else}}
        <span class="input-group-addon" id="sizing-addon1">{{resultsCount}} <i class="fa fa-user"></i></span>
        {{/if}}
      {{/if}}
    {{/EasySearch.IfInputEmpty}}
    {{#EasySearch.IfSearching index=usersIndex }}
      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-cog spinning"></i></span>
    {{/EasySearch.IfSearching }}
    {{#EasySearch.IfNoResults index=usersIndex}}
      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-remove"></i></span>
    {{/EasySearch.IfNoResults}}
  {{> EasySearch.Input index=usersIndex attributes=inputAttributes }}
  </div>
  <ul class="list-group appear-third">
    {{#EasySearch.Each index=usersIndex }}
      {{#if oneFound}}
        {{> actode}}
      {{else}}
        {{> actodeListItem}}
      {{/if}}
    {{/EasySearch.Each}}
  </ul>
  {{#EasySearch.IfNoResults index=usersIndex }}
    <div class="padded no-results">Sin resultados</div>
  {{/EasySearch.IfNoResults }}
</template>
