<template name="newActode">

<!--{{> quickForm collection="Actodes" id="insertBookForm" type="insert"}} -->


  <form role="form" data-action="newActodeSubmission">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">Documento</span>
      <input type="text" class="form-control" id="cid" placeholder="Sin puntos ni espacios" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">Tipo</span>
 <input type="text" class="form-control" id="cidType" placeholder="Sin puntos ni espacios" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">Nombre</span>
  <input type="text" class="form-control" id="name">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">Apellido</span>
  <input type="text" class="form-control" id="lastName">
    </div>
    <div class="input-group input-group-lg">
      <input class="form-control" type="radio"   id="gender" name="gender"  value="M" checked> Hombre
      <br>
      <input class="form-control" type="radio"   id="gender" name="gender" value="F" checked> Mujer


    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">Email</span>  <input type="email" class="form-control" id="email">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">Celular</span>  <input type="text" class="form-control" id="mobile">
    </div>


    <div class="input-group input-group-lg">
<span class="input-group-addon">Cumplea&ntilde;os</span>

      <input type="date" class="form-control" id="bdate">
    </div>




    <button type="submit" class="btn btn-default">Crear</button>
  </form>



</template>
