<template name="newOrganisation">

<!--{{> quickForm collection="Actodes" id="insertBookForm" type="insert"}} -->

<h1>NEW ORGANISATION</h1>
  <form role="form" data-action="newOrganisationSubmission">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">ACTODE TYPE</span>
      <input type="text" class="form-control" id="actodeType" placeholder="'COMPANY','PROJECT','BAND' " aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">COUNTRY</span>
      <input type="text" class="form-control" id="country" placeholder="'0540' FOR ARGENTINA" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">CID</span>
      <input type="text" class="form-control" id="cid" placeholder="'30532025458'" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">CID TYPE</span>
 <input type="text" class="form-control" id="cidType" placeholder="'CUIT'" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">NAME</span>
  <input type="text" class="form-control" id="name" placeholder="'Motores Tubulares S.R.L.', 'Muy Lejos', 'Advanced Research Project'">
    </div>

    <div class="input-group input-group-lg">
<span class="input-group-addon">COMPANY EMAIL</span>  <input type="email" class="form-control" id="email">
    </div>
    <div class="input-group input-group-lg">
<span class="input-group-addon">COMPANY PHONE</span>  <input type="tel" class="form-control" id="phone">

    </div>
<br>
    <button type="submit" class="btn btn-default">CREATE ORGANISATION</button>
  </form>



</template>
