<template name="generalDashboard">
<!-- for users where hasCustomizedDashboard === false -->
  <h1>PANEL DE CONTROL {{belongsToId}}</h1>
  <br>
<p>
  Hola {{relatedActodeName}}

</p>
<br>

<br>

<div class="btn-group btn-group-justified" role="group" aria-label="...">

  <div class="btn-group" role="group">
    <button  type="button" data-action='goTo' name='new-actrel' class="btn btn-primary">CREAR PERFIL</button>
  </div>


</div>
<hr>
<table class="table table-striped">
       <thead>
           <tr>
               <th>NOMBRE</th>
               <th>APELLIDO</th>
               <th>EMAIL</th>
           </tr>
       </thead>
       <tbody>
         {{#each relationships 1}}
           <tr>

               <td><a href="/profiles/wkdB3C9iJZeXKADvA">{{actodeName destiny}}</a></td>
               <td>  {{actodeLastName  destiny}}</td>
               <td> {{email}}</td>
           </tr>
           {{/each}}
       </tbody>
   </table>



<hr>
<h4>Clientes</h4>
{{#each relationships 1}}
<div >
  {{actodeName destiny}}
  {{actodeLastName  destiny}}
 {{email}}

</div>
{{/each}}
<hr>
<h4>Empleados</h4>
{{#each relationships 3}}
<div >
  {{actodeName destiny}}
  {{actodeLastName destiny}}
 {{email}}
 {{name}}
</div>
{{/each}}




</template>
