<template name="newActode">
  <h1>crear perfil</h1>

  <br>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">

    <div class="btn-group" role="group">
      <button id="create-actode-type1" type="button" data-action="renderSubTemplate" class="btn btn-default">persona</button>
    </div>
    <div class="btn-group" role="group">
      <button id="create-actode-type2" type="button" data-action="renderSubTemplate" class="btn btn-default">empresa</button>
    </div>
  

  </div>



<br>
<div >
  {{> yield "actodeForm"}}
</div>




</template>
