<template name="home">
  <div class="template-home">


    {{#if currentUser}}
      HOME / Estas logueado
      {{#if hasCustomizedDashboard}}
      <a href="{{ pathFor 'dashboard' }}" class="btn btn-default">panel personal</a>
      {{else}}
      <a href="{{ pathFor 'search' }}" class="btn btn-default">buscar clientes</a>
      {{/if}}
    {{else}}
    <div class="page-header">
      <h1>BIENVENIDO A <strong>DM PL&Aacute;STICOS</strong></h1>
      <h5>INGRESE CON SU USUARIO Y CONTRASE&Ntilde;A </h5>
    </div>
      <div >
        <a href="{{ pathFor 'atSignIn' }}" class="btn btn-primary">INGRESAR AL SISTEMA</a>
        
      </div>
    {{/if}}





  </div>



</template>
