<template name="home">
  <div class="template-home">


    {{#if currentUser}}
      HOME / Estas logueado
      {{#if hasCustomizedDashboard}}
      <a href="{{ pathFor 'dashboard' }}" class="btn btn-default">panel personal</a>
      {{else}}
      <a href="{{ pathFor 'search' }}" class="btn btn-default">buscar clientes</a>
      {{/if}}
    {{else}}
    <div class="page-header">
      <h1>bienvenido a <strong>styler</strong></h1>
      <h5>Guard&aacute; y administr&aacute; toda la informaci&oacute;n importante de tus clientes</h5>
    </div>
      <div >
        <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default">Entra</a>
        <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary">Registrate</a>
      </div>
    {{/if}}





  </div>



</template>
