@import '../base/mixins.import.less';
@import '../base/variables.import.less';


a {
  font-weight:bold;

  text-decoration:none;
}
.man{
  background-color: @man-bg;
  color:white;
}

.woman{
  background-color: @woman-bg;
  color:white;
}


a:hover,a:active,a:focus{
  text-decoration:underline;
}
a:active,a:focus{
  position:relative;
  top:1px;
}

#clickable-line a{
  display:block;
  padding:20px;
  font-weight:normal;
  color:inherit;
}
#clickable-line a:hover{
  text-decoration: none;
}

#clickable-line strong{
  float:right;
}

#clickable-line{
  margin-top: 7px;
}









.form-field-name {
  color: fade(@text, 40%);
  font-size: 9px;
}

a#profile-email {
  color: @text;
  font-size: 22px;
}
a#profile-mobile {
  color: @text;
  font-size: 24px;
}

.profile-data {
  color: @alert300;
  border: none;

}

.my-tooltip {
  display:inline;
  position: relative;
  color: @alert400;
}



.loading {
  padding: 48px 0;
  text-align: center;

  i {
    color: @gray-lighter;
  }
}

.yellow-box {
  background-color: #FFB731;
  padding-top: 7px;
  padding-left: 37px;
  padding-bottom: 7px;
  padding-right: 37px;
}

.spinning {
    animation: spin 9s infinite linear;
    -webkit-animation: spin2 9s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.breathing {
    animation: breathe 3s ease-in-out 0s infinite alternate;
    -webkit-animation: breathe 3s ease-in-out 0s infinite alternate;
}

@keyframes breathe {
    from { transform: scale(0.995) rotate(0deg); }
    to { transform: scale(1.005) rotate(0deg); }
}

@-webkit-keyframes breathe2 {
    from { -webkit-transform: scale(1.1); }
    to { -webkit-transform: scale(0.9); }
}

@keyframes appear {
    0% { opacity: 0; }
    100% {opacity: 1;}
}

@keyframes disappear {
  0% { opacity: 0;  }
  15% { opacity: 1;}
  85% { opacity: 0.9;}
  100% {opacity: 0; }
}

@keyframes flash {
  0% { opacity: 0;}
  10% { opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 0;}
}


.flash-1{
  animation-name: flash;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.flash-2{
  animation-name: flash;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 100ms;
}
.flash-3{
  animation-name: flash;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
}

.disappear-up {
  animation-name: disappear;
  animation-duration: 1200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  //animation-fill-mode: both;

}

.appear-first {
   animation-name: appear;
   animation-duration: 600ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
}
.appear-second {
   animation-name: appear;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-delay: 100ms;
   animation-fill-mode: both;
}

.appear-third {
   animation-name: appear;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-delay: 200ms;
   animation-fill-mode: both;
}
.appear-fourth {
   animation-name: appear;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-delay: 300ms;
   animation-fill-mode: both;
}
.appear-fifth {
   animation-name: appear;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-delay: 400ms;
   animation-fill-mode: both;
}
.appear-sixth {
   animation-name: appear;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-delay: 500ms;
   animation-fill-mode: both;
}
