@import '../base/mixins.import.less';
@import '../base/variables.import.less';

.result-man {
  color: @man-dark;
}
.result-woman {
  color: @woman-dark;

}

.alert100 {
  color: @alert100;

}



.selected {
  background-color: @bg-selected;
}

.header-message {

  margin-top: 5px;
  padding: 2px;
  display:block;
  background-color: @alert100;
}

.message {

  color: white;
  text-align: center;


}
