<template name="dashboard">
  <div class="template-dashboard">
    <div class="alert alert-danger" role="alert">
      <h1>No aceptar cupones</h1>
      <p>Este cliente presento su groupon el dia fffffff</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" data-action="doSomething">Learn more</a></p>
    </div>

    <!-- Single button -->
<div class="btn-group">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Action <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a href="#" data-action="test1">Action</a></li>
  <li><a href="#">Another action</a></li>
  <li><a href="#">Something else here</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#">Separated link</a></li>
</ul>
</div>

    <ul class="list-group">
      {{#each actodes}}
        <li class="list-group-item">{{ name }} <span class="label label-default">{{ lastName }}</span></li>
      {{/each}}
    </ul>

  </div>
</template>
